In [10]:
import numpy as np
import os

In [11]:
data_dir = "./data"

In [12]:
signal_local_fn = os.path.join(data_dir, "regions_25kb_CT20230131.DHS_epilogos_factor_percentiles.bed")

In [13]:
import pandas as pd

In [18]:
# read gzip'd file into pandas dataframe
signal_df = pd.read_csv(signal_local_fn, sep='\t')

In [19]:
signal_df.head(5)

,chrm,start,end,Placental_trophoblast,Lymphoid,Myeloid_erythroid,Cardiac,Musculoskeletal,Vascular_endothelial,Primitive_embryonic,...,EnhA1,EnhA2,EnhWk,ZNF_Rpts,Het,TssBiv,EnhBiv,ReprPC,ReprPCWk,Quies
0,chr1,22400,47400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,chr1,54400,79400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,chr1,94200,119200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,chr1,129600,154600,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,chr1,154800,260449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [115]:
[(i - 3,d) for i,d in enumerate(signal_df.columns)]

[(-3, 'chrm'),
 (-2, 'start'),
 (-1, 'end'),
 (0, 'Placental_trophoblast'),
 (1, 'Lymphoid'),
 (2, 'Myeloid_erythroid'),
 (3, 'Cardiac'),
 (4, 'Musculoskeletal'),
 (5, 'Vascular_endothelial'),
 (6, 'Primitive_embryonic'),
 (7, 'Neural'),
 (8, 'Digestive'),
 (9, 'StromalA'),
 (10, 'StromalB'),
 (11, 'Renal_cancer'),
 (12, 'Cancer_epithelial'),
 (13, 'Pulmonarydevel'),
 (14, 'Organdevel_renal'),
 (15, 'Tissueinvariant'),
 (16, 'TssA'),
 (17, 'TssFlnk'),
 (18, 'TssFlnkU'),
 (19, 'TssFlnkD'),
 (20, 'Tx'),
 (21, 'TxWk'),
 (22, 'EnhG1'),
 (23, 'EnhG2'),
 (24, 'EnhA1'),
 (25, 'EnhA2'),
 (26, 'EnhWk'),
 (27, 'ZNF_Rpts'),
 (28, 'Het'),
 (29, 'TssBiv'),
 (30, 'EnhBiv'),
 (31, 'ReprPC'),
 (32, 'ReprPCWk'),
 (33, 'Quies')]

In [28]:
factors = [str(s) for s in signal_df.columns[3:]]

In [43]:
data = signal_df.rename(columns={"chrm":"chromosome"})

In [45]:
data.head()

,chromosome,start,end,Placental_trophoblast,Lymphoid,Myeloid_erythroid,Cardiac,Musculoskeletal,Vascular_endothelial,Primitive_embryonic,...,EnhA1,EnhA2,EnhWk,ZNF_Rpts,Het,TssBiv,EnhBiv,ReprPC,ReprPCWk,Quies
0,chr1,22400,47400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,chr1,54400,79400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,chr1,94200,119200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,chr1,129600,154600,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,chr1,154800,260449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [33]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [34]:
%autoreload 2

In [35]:
import hilbertgenome

In [74]:
def aggregator(data):
    return data[factors].sum(axis=0).to_numpy()

In [107]:
def accessor(d):
    # our dtype will want to match the value here
    return d[factors].to_numpy()

In [125]:
hg = hilbertgenome.HilbertGenome(data=data, 
                                 name="sr_sum2",
                                 aggregator=aggregator,
                                 accessor=accessor,
                                 dtype="float32",
                                 signal_resolution=25000,
                                 missing_value=0
                                )

data width 34
order 6 individual False
order 7 individual False
order 8 individual False
order 9 individual True
order 10 individual True
order 11 individual True
order 12 individual True
order 13 individual True
order 14 individual True
order 15 individual True

In [126]:
params = hg.aggregate_chromosome("chrX", 6)

In [127]:
params[0]

{'chromosome': 'chrX',
 'order': 6,
 'hstart': 3813,
 'hstop': 4020,
 'gstart': 2875001522}

In [128]:
v = hg.aggregate_range_region(**params[0])

In [129]:
v

array([[ 1.4322,  0.629 ,  0.4889, ...,  0.    ,  0.    , 17.    ],
       [ 4.9826,  4.273 ,  5.2058, ...,  0.    ,  0.    , 29.    ],
       [ 1.3874,  6.1953,  3.4224, ...,  0.    ,  0.    , 22.    ],
       ...,
       [ 1.0462,  4.6342,  2.1478, ...,  2.4423,  4.0863,  4.2075],
       [ 1.4198,  1.4428,  2.1333, ...,  1.0605,  0.4967,  9.5075],
       [ 0.9054,  0.9169,  0.9546, ...,  0.    ,  0.    , 18.2429]],
      dtype=float32)

In [130]:
np.amax(v, axis=0)

array([ 6.2547,  6.1953,  6.1707,  3.0183,  7.2844,  2.7566, 10.0867,
        5.6178,  5.5432,  4.6663,  6.3935,  4.0132,  8.7766,  4.3159,
        6.391 ,  5.7217,  8.1749,  9.5556,  8.2096,  3.6441,  5.3117,
        9.6589,  2.425 ,  1.3345, 10.7282, 12.7482,  9.4132, 10.9255,
       17.4722,  4.1929,  6.8655,  3.9735, 13.0229, 29.    ],
      dtype=float32)

In [133]:
hg.generate_order(6)

generating 24 files
chr1 6 0 starting
min,max 7.065100193023682
chr1 6 0 done in: 0.09930777549743652
chr2 6 330 starting
min,max 10.293999671936035
chr2 6 330 done in: 0.1029198169708252
chr3 6 651 starting
min,max 6.9293999671936035
chr3 6 651 done in: 0.08685517311096191
chr4 6 914 starting
min,max 5.837100028991699
chr4 6 914 done in: 0.08259892463684082
chr5 6 1166 starting
min,max 7.557499885559082
chr5 6 1166 done in: 0.08038330078125
chr6 6 1407 starting
min,max 8.648500442504883
chr6 6 1407 done in: 0.08179187774658203
chr7 6 1634 starting
min,max 7.858099937438965
chr7 6 1634 done in: 0.0726461410522461
chr8 6 1845 starting
min,max 7.629300117492676
chr8 6 1845 done in: 0.06562304496765137
chr9 6 2037 starting
min,max 10.411100387573242
chr9 6 2037 done in: 0.05472207069396973
chr10 6 2221 starting
min,max 6.993299961090088
chr10 6 2221 done in: 0.06117892265319824
chr11 6 2398 starting
min,max 6.597099781036377
chr11 6 2398 done in: 0.06040501594543457
chr12 6 2578 starting
min,max 6.241199970245361
chr12 6 2578 done in: 0.06056690216064453
chr13 6 2754 starting
min,max 7.623799800872803
chr13 6 2754 done in: 0.046948909759521484
chr14 6 2906 starting
min,max 8.278599739074707
chr14 6 2906 done in: 0.04334306716918945
chr15 6 3048 starting
min,max 7.427999973297119
chr15 6 3048 done in: 0.03898501396179199
chr16 6 3183 starting
min,max 9.095399856567383
chr16 6 3183 done in: 0.037609100341796875
chr17 6 3303 starting
min,max 7.552999973297119
chr17 6 3303 done in: 0.03662586212158203
chr18 6 3413 starting
min,max 6.970900058746338
chr18 6 3413 done in: 0.035733938217163086
chr19 6 3520 starting
min,max 6.312099933624268
chr19 6 3520 done in: 0.027637958526611328
chr20 6 3598 starting
min,max 5.9721999168396
chr20 6 3598 done in: 0.02934408187866211
chr21 6 3683 starting
min,max 6.182199954986572
chr21 6 3683 done in: 0.01908397674560547
chr22 6 3745 starting
min,max 5.983099937438965
chr22 6 3745 done in: 0.018883943557739258
chrX 6 3813 starting
min,max 4.315899848937988
chrX 6 3813 done in: 0.06806802749633789
chrY 6 4020 starting
min,max 0.0
chrY 6 4020 done in: 0.0033867359161376953
order 6 done in: 1.3150122165679932
combining files
Combining files ['./data/chromosome_bytes/sr_sum2_chr1_6_0.float32', './data/chromosome_bytes/sr_sum2_chr2_6_330.float32', './data/chromosome_bytes/sr_sum2_chr3_6_651.float32', './data/chromosome_bytes/sr_sum2_chr4_6_914.float32', './data/chromosome_bytes/sr_sum2_chr5_6_1166.float32', './data/chromosome_bytes/sr_sum2_chr6_6_1407.float32', './data/chromosome_bytes/sr_sum2_chr7_6_1634.float32', './data/chromosome_bytes/sr_sum2_chr8_6_1845.float32', './data/chromosome_bytes/sr_sum2_chr9_6_2037.float32', './data/chromosome_bytes/sr_sum2_chr10_6_2221.float32', './data/chromosome_bytes/sr_sum2_chr11_6_2398.float32', './data/chromosome_bytes/sr_sum2_chr12_6_2578.float32', './data/chromosome_bytes/sr_sum2_chr13_6_2754.float32', './data/chromosome_bytes/sr_sum2_chr14_6_2906.float32', './data/chromosome_bytes/sr_sum2_chr15_6_3048.float32', './data/chromosome_bytes/sr_sum2_chr16_6_3183.float32', './data/chromosome_bytes/sr_sum2_chr17_6_3303.float32', './data/chromosome_bytes/sr_sum2_chr18_6_3413.float32', './data/chromosome_bytes/sr_sum2_chr19_6_3520.float32', './data/chromosome_bytes/sr_sum2_chr20_6_3598.float32', './data/chromosome_bytes/sr_sum2_chr21_6_3683.float32', './data/chromosome_bytes/sr_sum2_chr22_6_3745.float32', './data/chromosome_bytes/sr_sum2_chrX_6_3813.float32', './data/chromosome_bytes/sr_sum2_chrY_6_4020.float32']
all done!
Combining files ['./data/chromosome_bytes/sr_sum2_chr1_6_0.json', './data/chromosome_bytes/sr_sum2_chr2_6_330.json', './data/chromosome_bytes/sr_sum2_chr3_6_651.json', './data/chromosome_bytes/sr_sum2_chr4_6_914.json', './data/chromosome_bytes/sr_sum2_chr5_6_1166.json', './data/chromosome_bytes/sr_sum2_chr6_6_1407.json', './data/chromosome_bytes/sr_sum2_chr7_6_1634.json', './data/chromosome_bytes/sr_sum2_chr8_6_1845.json', './data/chromosome_bytes/sr_sum2_chr9_6_2037.json', './data/chromosome_bytes/sr_sum2_chr10_6_2221.json', './data/chromosome_bytes/sr_sum2_chr11_6_2398.json', './data/chromosome_bytes/sr_sum2_chr12_6_2578.json', './data/chromosome_bytes/sr_sum2_chr13_6_2754.json', './data/chromosome_bytes/sr_sum2_chr14_6_2906.json', './data/chromosome_bytes/sr_sum2_chr15_6_3048.json', './data/chromosome_bytes/sr_sum2_chr16_6_3183.json', './data/chromosome_bytes/sr_sum2_chr17_6_3303.json', './data/chromosome_bytes/sr_sum2_chr18_6_3413.json', './data/chromosome_bytes/sr_sum2_chr19_6_3520.json', './data/chromosome_bytes/sr_sum2_chr20_6_3598.json', './data/chromosome_bytes/sr_sum2_chr21_6_3683.json', './data/chromosome_bytes/sr_sum2_chr22_6_3745.json', './data/chromosome_bytes/sr_sum2_chrX_6_3813.json', './data/chromosome_bytes/sr_sum2_chrY_6_4020.json']
all done!
done with 6

In [134]:
with open('./data/sr_sum2_6.float32', 'rb') as rf:
    a = np.frombuffer(rf.read(), dtype="float32")

In [138]:
len(a) / 34

4096.0