In [10]:
import numpy as np
import os

In [11]:
data_dir = "./data"

In [12]:
signal_local_fn = os.path.join(data_dir, "regions_25kb_CT20230131.DHS_epilogos_factor_percentiles.bed")

In [13]:
import pandas as pd

In [18]:
# read gzip'd file into pandas dataframe
signal_df = pd.read_csv(signal_local_fn, sep='\t')

In [19]:
signal_df.head(5)

,chrm,start,end,Placental_trophoblast,Lymphoid,Myeloid_erythroid,Cardiac,Musculoskeletal,Vascular_endothelial,Primitive_embryonic,...,EnhA1,EnhA2,EnhWk,ZNF_Rpts,Het,TssBiv,EnhBiv,ReprPC,ReprPCWk,Quies
0,chr1,22400,47400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,chr1,54400,79400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,chr1,94200,119200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,chr1,129600,154600,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,chr1,154800,260449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
factors = [str(s) for s in signal_df.columns[3:]]

In [43]:
data = signal_df.rename(columns={"chrm":"chromosome"})

In [44]:
data[factors].sum(axis=0)

Placental_trophoblast    11276.9993
Lymphoid                 10839.0006
Myeloid_erythroid         8496.5008
Cardiac                   7105.0004
Musculoskeletal          10668.9998
Vascular_endothelial      5741.4995
Primitive_embryonic      19605.5004
Neural                   13911.9996
Digestive                 8072.4983
StromalA                  6015.0001
StromalB                 12198.4993
Renal_cancer              8698.9999
Cancer_epithelial        11195.0012
Pulmonarydevel            6776.9988
Organdevel_renal          9519.9996
Tissueinvariant           8154.5014
TssA                      5668.4854
TssFlnk                   5530.4558
TssFlnkU                  6233.0743
TssFlnkD                  3838.6232
Tx                        6737.4738
TxWk                     14066.6056
EnhG1                     1230.0112
EnhG2                      610.9812
EnhA1                    11706.5076
EnhA2                    10068.8306
EnhWk                    16597.2464
ZNF_Rpts                 11786.1417
Het                      17338.7252
TssBiv                    2783.4915
EnhBiv                    1743.5476
ReprPC                    6497.9284
ReprPCWk                 10105.8993
Quies                    35895.8392
dtype: float64

In [45]:
data.head()

,chromosome,start,end,Placental_trophoblast,Lymphoid,Myeloid_erythroid,Cardiac,Musculoskeletal,Vascular_endothelial,Primitive_embryonic,...,EnhA1,EnhA2,EnhWk,ZNF_Rpts,Het,TssBiv,EnhBiv,ReprPC,ReprPCWk,Quies
0,chr1,22400,47400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,chr1,54400,79400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,chr1,94200,119200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,chr1,129600,154600,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,chr1,154800,260449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [33]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [34]:
%autoreload 2

In [35]:
import hilbertgenome

In [66]:
result = data.groupby("chromosome").apply(aggregator)

In [67]:
result.index

Index(['chr1', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16',
       'chr17', 'chr18', 'chr19', 'chr2', 'chr20', 'chr21', 'chr22', 'chr3',
       'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chrX'],
      dtype='object', name='chromosome')

In [68]:
type(result.index)

pandas.core.indexes.base.Index

In [69]:
result.head()

chromosome
chr1     [1097.8197, 978.2196, 854.0160000000001, 693.7...
chr10    [543.7725, 549.0526, 387.48659999999995, 366.2...
chr11    [551.6331, 512.9103, 407.01200000000006, 372.5...
chr12    [569.3248, 521.3116, 430.12199999999996, 343.0...
chr13    [307.1091, 253.36700000000002, 210.45839999999...
dtype: object

In [73]:
# result.columns

In [72]:
str(type(result))

"<class 'pandas.core.series.Series'>"

In [74]:
def aggregator(data):
    return data[factors].sum(axis=0).to_numpy()

In [107]:
def accessor(d):
    # our dtype will want to match the value here
    return d[factors].to_numpy()

In [108]:
hg = hilbertgenome.HilbertGenome(data=data, 
                                 name="sr_sum",
                                 aggregator=aggregator,
                                 accessor=accessor,
                                 dtype="float32",
                                 signal_resolution=25000,
                                 missing_value=0
                                )

data width 34
order 6 individual False
order 7 individual False
order 8 individual False
order 9 individual True
order 10 individual True
order 11 individual True
order 12 individual True
order 13 individual True
order 14 individual True
order 15 individual True

In [109]:
params = hg.aggregate_chromosome("chrY", 6)

In [110]:
params[0]

{'chromosome': 'chrY',
 'order': 6,
 'hstart': 4020,
 'hstop': 4096,
 'gstart': 3031042417}

In [111]:
hg.aggregate_range_region(**params[0])

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [112]:
hg.generate_order(9)

generating 24 files
chr1 9 0 starting
chr1 9 0 done in: 1.0062880516052246
chr2 9 21132 starting
chr2 9 21132 done in: 1.0888488292694092
chr3 9 41690 starting
chr3 9 41690 done in: 0.8791618347167969
chr4 9 58522 starting
chr4 9 58522 done in: 0.8262457847595215
chr5 9 74668 starting
chr5 9 74668 done in: 0.7823779582977295
chr6 9 90078 starting
chr6 9 90078 done in: 0.7353508472442627
chr7 9 104577 starting
chr7 9 104577 done in: 0.6873517036437988
chr8 9 118103 starting
chr8 9 118103 done in: 0.6347017288208008
chr9 9 130422 starting
chr9 9 130422 done in: 0.5206060409545898
chr10 9 142170 starting
chr10 9 142170 done in: 0.5982992649078369
chr11 9 153527 starting
chr11 9 153527 done in: 0.6034519672393799
chr12 9 164994 starting
chr12 9 164994 done in: 0.5971448421478271
chr13 9 176307 starting
chr13 9 176307 done in: 0.43317604064941406
chr14 9 186014 starting
chr14 9 186014 done in: 0.399857759475708
chr15 9 195101 starting
chr15 9 195101 done in: 0.38251709938049316
chr16 9 203758 starting
chr16 9 203758 done in: 0.3681793212890625
chr17 9 211426 starting
chr17 9 211426 done in: 0.35232114791870117
chr18 9 218494 starting
chr18 9 218494 done in: 0.36307597160339355
chr19 9 225316 starting
chr19 9 225316 done in: 0.252089262008667
chr20 9 230292 starting
chr20 9 230292 done in: 0.27584004402160645
chr21 9 235762 starting
chr21 9 235762 done in: 0.1621391773223877
chr22 9 239727 starting
chr22 9 239727 done in: 0.15787696838378906
chrX 9 244040 starting
chrX 9 244040 done in: 0.6999599933624268
chrY 9 257286 starting
chrY 9 257286 done in: 0.004518985748291016
order 9 done in: 12.814069986343384
combining files
Combining files ['./data/chromosome_bytes/sr_sum_chr1_9_0.float32', './data/chromosome_bytes/sr_sum_chr2_9_21132.float32', './data/chromosome_bytes/sr_sum_chr3_9_41690.float32', './data/chromosome_bytes/sr_sum_chr4_9_58522.float32', './data/chromosome_bytes/sr_sum_chr5_9_74668.float32', './data/chromosome_bytes/sr_sum_chr6_9_90078.float32', './data/chromosome_bytes/sr_sum_chr7_9_104577.float32', './data/chromosome_bytes/sr_sum_chr8_9_118103.float32', './data/chromosome_bytes/sr_sum_chr9_9_130422.float32', './data/chromosome_bytes/sr_sum_chr10_9_142170.float32', './data/chromosome_bytes/sr_sum_chr11_9_153527.float32', './data/chromosome_bytes/sr_sum_chr12_9_164994.float32', './data/chromosome_bytes/sr_sum_chr13_9_176307.float32', './data/chromosome_bytes/sr_sum_chr14_9_186014.float32', './data/chromosome_bytes/sr_sum_chr15_9_195101.float32', './data/chromosome_bytes/sr_sum_chr16_9_203758.float32', './data/chromosome_bytes/sr_sum_chr17_9_211426.float32', './data/chromosome_bytes/sr_sum_chr18_9_218494.float32', './data/chromosome_bytes/sr_sum_chr19_9_225316.float32', './data/chromosome_bytes/sr_sum_chr20_9_230292.float32', './data/chromosome_bytes/sr_sum_chr21_9_235762.float32', './data/chromosome_bytes/sr_sum_chr22_9_239727.float32', './data/chromosome_bytes/sr_sum_chrX_9_244040.float32', './data/chromosome_bytes/sr_sum_chrY_9_257286.float32']
all done!
Combining files ['./data/chromosome_bytes/sr_sum_chr1_9_0.json', './data/chromosome_bytes/sr_sum_chr2_9_21132.json', './data/chromosome_bytes/sr_sum_chr3_9_41690.json', './data/chromosome_bytes/sr_sum_chr4_9_58522.json', './data/chromosome_bytes/sr_sum_chr5_9_74668.json', './data/chromosome_bytes/sr_sum_chr6_9_90078.json', './data/chromosome_bytes/sr_sum_chr7_9_104577.json', './data/chromosome_bytes/sr_sum_chr8_9_118103.json', './data/chromosome_bytes/sr_sum_chr9_9_130422.json', './data/chromosome_bytes/sr_sum_chr10_9_142170.json', './data/chromosome_bytes/sr_sum_chr11_9_153527.json', './data/chromosome_bytes/sr_sum_chr12_9_164994.json', './data/chromosome_bytes/sr_sum_chr13_9_176307.json', './data/chromosome_bytes/sr_sum_chr14_9_186014.json', './data/chromosome_bytes/sr_sum_chr15_9_195101.json', './data/chromosome_bytes/sr_sum_chr16_9_203758.json', './data/chromosome_bytes/sr_sum_chr17_9_211426.json', './data/chromosome_bytes/sr_sum_chr18_9_218494.json', './data/chromosome_bytes/sr_sum_chr19_9_225316.json', './data/chromosome_bytes/sr_sum_chr20_9_230292.json', './data/chromosome_bytes/sr_sum_chr21_9_235762.json', './data/chromosome_bytes/sr_sum_chr22_9_239727.json', './data/chromosome_bytes/sr_sum_chrX_9_244040.json', './data/chromosome_bytes/sr_sum_chrY_9_257286.json']
all done!
done with 9